streamlit
tensorflow==2.18.0
numpy==1.24.4
pillow==11.3.0
absl-py==1.4.0
aiohttp==3.8.4
requests==2.32.3
pandas==2.2.2
scikit-learn==1.6.1
matplotlib==3.10.0
# Add only other packages your app truly needs
